<button class="btn-primary btn2" color="primary" (click)="CrearEstadoModal()">
  <i class="fas fa-plus"></i>
  Crear
</button>
<br>
<table mdbTable striped="true">
<thead>
  <tr>
    <th *ngFor="let head of _estadoHead" scope="col">{{head}} </th>
  </tr>
</thead>
<tbody>
  <tr mdbTableCol *ngFor="let el of _estadoContent">
    <th scope="row">{{el.id}}</th>
    <td>{{el.Nombre}}</td>
    <td>{{el.Descripcion}}</td>
    <td>
      <button class="btn-primary btn2" color="primary" (click)="EditarEstadoModal(el)">
        <i class="fas fa-edit"></i>
        Editar
      </button>
      <button class="btn-primary btn2" color="primary" (click)="EliminarEstado()">
        <i class="fas fa-trash-alt"></i>
        Eliminar
      </button>
    </td>
  </tr>
</tbody>
</table> 